/* You can add global styles to this file, and also import other style files */
.bg_yellow{
    background-color: #fff1d0 !important;
}

.btn-red {
    color: #fff !important;
    background-color: #d43838 !important;
    border-color: #d43838 !important;
}

.btn-blue {
    color: #fff !important;
    background-color: #1d7874 !important;
    border-color: #1d7874 !important;
}

.btn-green {
    color: #fff !important;
    background-color: #a8c256 !important;
    border-color: #a8c256 !important;
}

.btn-red:disabled {
    color: #fff;
    background-color: #d43838;
    border-color: #d43838;
    opacity: 50%;
}

.btn-blue:disabled {
    color: #fff;
    background-color: #1d7874;
    border-color: #1d7874;
    opacity: 50%;
}

.btn-green:disabled {
    color: #fff;
    background-color: #a8c256;
    border-color: #a8c256;
    opacity: 50%;
}

.btn{
    font-size: 1.5rem;
}


